ul { list-style-type: none; padding-left: 0; }
.inputs { width: 512px; padding-left: 0; }
input { padding: 0; margin: 0; border-width: 1px; }
.inputs li input { float: right; }
li.control_buttons input { float: none; }
.counters li { display: inline; }
.counters li span { width: 5em; }
li.control_buttons { font-weight: bold; }
#about { font-style: italic; }
#innerlogging { width: 512px; }
#logtome { width: 100%; }
